
# |-----------------|
# | Application ENV |
# |-----------------|
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# RABBITMQ ENV
RABBITMQ_URL=amqp://admin:password@localhost:5672
ROOM_QUEUE=room
SOFTWARE_QUEUE=software

SERVICE_PORT=3001